page-changepassword {

.toolbar-title{
	color:#fff;
	font-size: 15px !important; 
	font-weight: normal;
}
	.back-button{
		color:#02a499;
	}

	.change{
		h1{color: #8d8d8d;
   			 margin: 0;
   			    font-size: 15px !important; }

		ion-item{
		ion-label#lbl-45{color:#02a499;}
			padding: 0px;
			.input-cover{ position: unset; }

			ion-label{
			margin: 0;
    		font-size: 15px;
    		color: #8d8d8d;}
   
			}
		}
		.toolbar-background {
			border-color: #00857c;
			background: #00857c;
		}
		.backbtn{
			background: transparent;
			color: #fff;
		}
}
