page-profile {

.toolbar-background {
   background: #00857c;

}
label{color:#fff;}
.toolbar-title{color:#fff;font-size: 16px;}
.back-button{color:#fff;}
.profilebx{
	 background: #00857c;
	 width: 100%;
	 float: left;
	 background: #00857c;
    width: 100%;
    float: left;
    padding: 16px 0;
    text-align: center;
    color: #fff;
   h1{font-size: 15px;
    font-weight: normal;
    margin: 5px 0px;}
    p{font-size: 12px;
    font-weight: normal;
    margin: 0;}
    }

    .profilepic{

    width: 26%;
    margin: 0 auto;
    
   

}
.item-inner{border-bottom: none !important;
ion-label{font-weight: normal; color: #8d8d8d;}

 }

}
