page-forgotpassword {

	.toolbar-title{color:#02a499;font-size: 15px !important; font-weight: normal;}
	.back-button{color:#02a499;}

	.emailbox{

		label{color:#02a499;
		    font-weight: normal;}
	}
}
