page-privacypolicy {

.toolbar-title{
	color:#fff;
	font-size: 15px !important; 
	font-weight: normal;
}
	.back-button{
		color:#02a499;
	}

	.policy{
	h1{
	 color: #8d8d8d;
    font-size: 15px;
    
    font-weight: normal;
	}

	p{font-size: 13px;
    line-height: 18px;
    color: #8d8d8d;}

	}
	.toolbar-background {
		border-color: #00857c;
		background: #00857c;
	}
	.backbtn{
		background: transparent;
		color: #fff;
	}

}
