page-address {

.toolbar-title{color:#02a499;font-size: 15px !important; font-weight: normal;}
.back-button{color:#02a499;}
.textbx{
	h1{margin: 0;
    font-size: 15px;
    color: #8d8d8d;}
    p{
    margin: 0;
    font-size: 15px;
    color: #8d8d8d;
    font-weight: normal;
    margin: 4px 0;
    }
}

.inputbox{

ion-list{

	ion-item{
		padding: 0;

		.input-cover{ position: unset; }
	}


}

}


}
