page-confirm {

.toolbar-title{color:#02a499;font-size: 15px !important; font-weight: normal;}
	.back-button{color:#02a499;}

	.summary{

        iframe{border: 0;
    height: 300px;}

    width: 100%;
    height: 300px;
	h1{
	 color: #8d8d8d;
    font-size: 15px;
    
    font-weight: normal;
	}

	p{font-size: 13px;
    line-height: 18px;
    color: #8d8d8d;}



	}

	

}
